<div>
  <p><strong>Hey {{ name }}</strong></p>
  <p>Thank you for joining scholars app.</p>
  <p>
    <a href="{{ url }}" class="button">Start using app</a>
  </p>
  <p>This is an welcome message</p>
</div>`
